* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* homepage */
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #74580f;
  color: #ffff00;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  color: #ffff00;
}

.header nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 0.5rem;
  color: #ffff00;
}

.header nav ul li a {
  text-decoration: none;
  color: #ffff00;
  transition: transform 200ms ease-in-out;
}

li:hover {
  transform: scale(1.1);
  cursor: pointer;
  font-weight: bold;
}

.header h1 {
  text-align: center;
  font-size: 2rem;
}
.header p {
  text-align: center;
  font-style: italic;
  font-weight: light;
  color: #eeff86;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.category-container h2 {
  text-align: start;
  font-size: 1.6rem;
  color: #ffff00;
  margin-bottom: 1rem;
}

.category-container .genre-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: flex-start;
  width: 100%;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
  align-items: center;
  column-gap: 1.2rem;
  row-gap: 2rem;
  width: 100%;
  background-color: #443004;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.books .book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  color: #443004;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  background-color: #f4ffc1;
}

.links {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #ffff00;
  text-decoration: none;
  color: #443004;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  transition: all 200ms ease-in-out;
}

.links:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #ecff41;
}

.catalogue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #443004;
  color: #ffff00;
}

.book-shelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  align-items: center;
  column-gap: 2rem;
  row-gap: 1.5rem;
  background-color: #443004;
  padding: 1rem;
  width: 100%;
}

.book-item {
  padding: 1rem 1.5rem;
  color: #eeff86;
  background-color: #896c0a;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(133, 103, 12, 0.5);
  transition: all 200ms ease-in-out;
}

.book-item:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: none;
  box-shadow: 0 0.25rem 2rem rgba(113, 107, 3, 0.7);
}
